  html, body {
    height: 95%;
    margin-top: 10px;
  }
  body {
    overflow:hidden;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  canvas {
    border: 1px solid white;
    height: 95%;
  }